* {
  font-family: sans-serif;
}
#slide {
  /* background-color: rebeccapurple; */
  width: 80%;
  margin: auto;
  transition: .5s ease-out;
  border-top: .1px solid gray;
  border-bottom: .1px solid gray;
}
#slide img {
  width: 100%;
}
#pass {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin: auto;
  margin-top: 15px;
  transition: .5s ease-out;
}
#pass > img{
  width: 100%;
}
h2 {
  text-align: center;
}
#bank {
  margin: auto;
  width: 90%;
  gap: 1rem;
  /* background-color: rebeccapurple; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: .5s ease-out;
}
#bank img {
  width: 100%;
}
#offers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  gap: 1rem;
  transition: .5s ease-out;
}
#offers img {
  width: 100%;
  /* border: 1px solid black; */
}
#fruits,
#staples,
#snacks, #clean {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 80%;
  margin: auto;
  cursor: pointer;
  transition: .5s ease-out;
}
#fruits img,
#staples img,
#snacks img {
  width: 100%;
}
/* #clean {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  cursor: pointer;
} */
#clean img {
  width: 100%;
}
#show {
  /* background-color: red; */
  width: 80%;
  margin: auto;
  transition: .5s ease-out;
  border-top: .1px solid gray;
  border-bottom: .1px solid gray;
  margin-top: 10px;
}
#show img {
  width: 100%;
  /* border: 1px solid black; */
}

/* media  */

/* @media only screen and (max-width: 778px) {
  #range_holder,
  #offers,
  #bank,
  #fruits {
    display: flex;
    flex-direction: column;
  }
} */

#starRating {
  width: 70px;
  /* height: 50px; */
  transition: .5s ease-out;
}

h2{
  font-weight: normal;
  transition: .5s ease-out;
}
#discription{
  font-family: sans-serif;
  width:80%;
  border:1px solid grey;
  padding: 0 20px 20px 20px;
  font-size: 16.5px;
  margin: 20px auto;
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
  #content,
  #fruits,
  #staples,
  #snacks,
  #pass,
  #clean {
    grid-template-columns: repeat(3, 1fr);
  }
  #bank,
  #offers{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 450px) and (max-width: 750px) {
  #content,
  #bank,
  #offers,
  #fruits,
  #staples,
  #snacks,
  #clean {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .card-price-btn {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    flex-direction: column;
    /* margin-top: 65px; */
  }
  .prise_btn_div {
    flex-direction: column;
    gap: 1rem;
  }
  #slide, #show {
    width: 100%;
  }

  #pass {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 5px;
    margin: auto;
    margin-top: 15px;
  }
  #discription{
    height: 0;
    width: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
  #discription>p{
    height: 0;
    width: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
  #content,
  #bank, #offers, #fruits, #staples, #snacks, #clean{
    grid-template-columns: repeat(1, 1fr);
  }
  .prise_btn_div {
    flex-direction: column;
    gap: 1rem;
  }
  #slide, #show{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  h2{
    font-size: 1.7rem;
    font-weight: normal;
  }
  #pass {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    margin: auto;
    margin-top: 15px;
  }
  #discription{
    height: 0;
    width: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
  #discription>p{
    height: 0;
    width: 0;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
}

